@model authApp.Models.User

<h2>Welcome, @Model.Username!</h2>

<p>You are logged in as @Model.Role</p>

@if (Model.Role == "Manager")
{
    <a href="@Url.Action("AssignTask", "EmpTaskList")" class="btn btn-primary">Assign Tasks</a>

}
else if (Model.Role == "Employee")
{
    <a href="@Url.Action("TaskList", "EmpTaskList")" class="btn btn-primary">View Tasks</a>
    <a href="@Url.Action("UploadTask", "EmpTaskList")" class="btn btn-primary">Upload Task</a>

}
